.container {
  background: url("https://images.pexels.com/photos/4940753/pexels-photo-4940753.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
