// CSS/SVG Star Ratings

$ratingSize: 450px;
// $starLocation = #{}

.star {
  height: ($ratingSize/5);
  position: relative;
  width: $ratingSize;

  &:before {
    background-image: url("../../assets/star.svg");
    background-repeat: repeat-x;
    background-size: ($ratingSize/5);
    bottom: 0;
    content: "";
    display: block;
    height: ($ratingSize/5);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: $ratingSize;
  }

  > span {
    display: block;
    text-indent: -10000px;
    width: $ratingSize;
    height: ($ratingSize/5);
    position: absolute;
    overflow: hidden;

    &:before {
      background-image: url("../../assets/star-full.svg");
      background-repeat: repeat-x;
      background-size: ($ratingSize/5);
      bottom: 0;
      content: "";
      display: block;
      height: ($ratingSize/5);
      left: 0;
      position: absolute;
      right: 0;
      text-indent: 10000px;
      top: 0;
    }
  }
}
